.right {
        margin-top: 125px;
        position: absolute;
        right: 0;
        top: 0;
        color: #8fe1f0;
        font-size: 14px;
}
// 第一个 各个模块的信息区域的样式
.message {
            background-color: rgba(0, 0, 0, 0.6);
            height: 231px;
            .title {
                height: 31px;
                width: 297px;
                background: url(../../assets/img/monitoring/title_background.png);
                span {
                    display: inline-block;
                    padding: 10px 0 0 20px;
                }
            }

        }
.msg_content {
             padding-left: 20px;

             table {
                 width: 100%;

                 tr {
                     height: 30px;

                     td {
                         line-height: 30px;

                         span {
                             img {
                                 vertical-align: bottom;
                             }
                         }
                     }
                 }

                 .desc {
                     line-height: 1;
                 }

                 margin-top: 20px;
             }
         }
// 工作状态的样式
.working {
            background-color: rgba(0, 0, 0, 0.6);
            margin-top: 5px;
            padding-top: 9px;
            border-top: 2px solid rgba(58, 181, 233, 1);
            .working_title {
                height: 40px;
                display: flex;
                flex-direction: row;
                .status {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 65px;
                    height: 26px;
                    border: 1px solid rgba(123, 204, 250, 1);
                    border-radius: 6px;
                    margin: 0 4px 0 2px;
                }
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 26px;
                    border-radius: 6px;
                    margin-right: 4px;
                }
            }
        }
// 列表的样式
.list {
            background-color: rgba(0, 0, 0, 0.6);
            margin-top: 5px;
            .list_title {
                padding-left: 10px;
                span.real {
                    float: right;
                    padding-right: 10px;
                    color: #ea9e16;
                }
            }
            .list_content {
                .list_time {
                    padding-left: 10px;
                    height: 30px;
                    line-height: 30px;
                    border-bottom: 1px solid #000;
                    &:hover {
                        background: rgba(55, 168, 216, 0.6);
                    }
                }
            }
        }
 .list_footer {
     padding-left: 10px;
     height: 30px;
     line-height: 30px;

     img {
         margin-left: 4px;
         cursor: pointer;
     }

     .two {
         color: #ee0f10;
     }

     span {
         margin-left: 10px;
         color: #fff;
         cursor: pointer;
     }
 }

.control {
            background-color: rgba(0, 0, 0, 0.6);
            margin-top: 5px;
            .control_title {
                height: 31px;
                width: 297px;
                background-color: rgba(0, 0, 0, 0.6);
                background: url(../../assets/img/monitoring/title_background.png);
                span {
                    display: inline-block;
                    padding: 10px 0 0 20px;
                }
            }
        }
// 启动预案按钮样式
.start_btn {
            margin-top: 10px;
            cursor: pointer;
            height: 40px;
            width: 296px;
            background: rgba(24, 181, 240, 1);
            opacity: 0.9;
            color: #fff;
            border-radius: 6px;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
.shutdown {
    color: #df0b0c;
    border: 1px solid #df0b0c;
}
.controlled {
    color: #16ea6c;
    border: 1px solid #16ea6c;
}
// 不带背景图的标题
.top-line{
 padding-top: 9px;
 padding-left: 10px;
 border-top: 2px solid rgba(58, 181, 233, 1);
}
// 有背景图的标题
.has_bgImg {
     height: 31px;
     width: 297px;
     background-color: rgba(0, 0, 0, 0.6);
     background: url(../../assets/img/monitoring/title_background.png);

     span {
         display: inline-block;
         padding: 10px 0 0 20px;
     }
}

